body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.filter-div {
    position: fixed;
    top: 0;
    left: 0;
}

.export-div{
  position: fixed;
  top: 0;
  right: 0;
}

.id-routine-cell{
    display: none;
}

.arrow-icon{
    width: 36px;
    height: 20px;
    margin-top: 13px;
}

#export-anchor {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#export-anchor:hover {
    background-color: #2980b9;
}

.download-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#retour {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#retour:hover {
    background-color: #2980b9;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

caption {
    margin-top: 2%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
}

th, td {
    vertical-align: middle;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: #fff;
}
